<div ng-app="app">
  <div ng-controller="appointmentsCtrl"> 
    <div class="page-heading-one">
      <h2 id="mentors-header" class="">Mentors</h2>
    </div>
    <h1>Mentor Appointments Available for:</h1>
    <div class = "container">
      <div class="ui-50">
        <div class = "row">
          <div class="col-md-3 col-sm-4 col-xs-12 bor">
            <div class="ui-item bg-red">
              <h4 class="rotate-right"><span><%= @mentor.full_name %></span></h4>
              <%= image_tag "#{@mentor.photo}", class: "img-responsive" %>
              <h4><%= @mentor.bio %></h4>
              <h4><%= @mentor.email %></h4>

               <div class="ui-icons">
                  <!-- Email Icon -->
                  <a href="mailto:"#{mentor.email} class="b-tooltip" title="Email"><i class="fa fa-envelope"></i></a>
                  <!-- Phone Icon -->
                  <!-- <a href="#" class="b-tooltip" title="Phone"><i class="fa fa-phone"></i></a>&nbsp;&nbsp; -->
                  <!-- Facebook Icon -->
                  <a href="#" class="b-tooltip" title="Facebook"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
                  <!-- Twitter Icon -->
                  <a href="#" class="b-tooltip" title="Twitter"><i class="fa fa-twitter"></i></a> 
                </div>
                  <h4>Available Appointments:</h4> 
                  <!-- {{ testphrase}} -->
                  <div ng-repeat="appointment in appointments | filter:{mentor_id: 1}" 
                  ng-click="selectAppointment(appointment)" >
                    <button type="submit" class="btn btn-default btn-lg">{{appointment.date_start_time}}<br>{{appointment.duration}} minutes</button>
                  </div>
                      <h4>{{greeting}}</h4>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>