<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @specific_appointment.mentee_name %></p>
    <p>This is a reminder that you have an appointment with Mentor <%= @specific_appointment.mentor.full_name %> tomorrow <%= @specific_appointment.date_start_time.non_nerd_time %>.</p>
    <p>If you are unable to meet with your mentor tomorrow, please call 1871 immediately (312.239.0310).</p>
  </body>
</html>