<!DOCTYPE html>
<html>
<head>
  <title>OfficeHoursApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Top bar starts -->
  <div class="top-bar">
    <div class="container">
    
      <!-- Contact starts -->
      <div class="tb-contact pull-left">
        <!-- Email -->
        Made with <i class="fa fa-heart color"></i> by the <a href="http://anyonecanlearntocode.com" target="_blank">Anyone Can Learn To Code</a> class of Fall 2014 
      </div>
      <!-- Contact ends -->
      

      
      <!-- Search section for responsive design -->
      <div class="tb-search pull-left">
        <a href="#" class="b-dropdown"><i class="fa fa-search square-2 rounded-1 bg-color white"></i></a>
        <div class="b-dropdown-block">
          <form role="form">
            <!-- Input Group -->
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Type Something">
              <span class="input-group-btn">
                <button class="btn btn-color" type="button">Search</button>
              </span>
            </div>
          </form>
        </div>
      </div>
      <!-- Search section ends -->
      
      <!-- Social media starts -->
<!--       <div class="tb-social pull-right">
        <div class="brand-bg text-right">
          <a href="#" class="facebook"><i class="fa fa-facebook square-2 rounded-1"></i></a>
          <a href="#" class="twitter"><i class="fa fa-twitter square-2 rounded-1"></i></a>
          <a href="#" class="google-plus"><i class="fa fa-google-plus square-2 rounded-1"></i></a>
          <a href="#" class="linkedin"><i class="fa fa-linkedin square-2 rounded-1"></i></a>
          <a href="#" class="pinterest"><i class="fa fa-pinterest square-2 rounded-1"></i></a>
        </div>
      </div> -->
      <!-- Social media ends -->
      
      <div class="clearfix"></div>
    </div>
  </div>
  
  <!-- Top bar ends -->
  
  <!-- Header two Starts -->
  <div class="header-2">
  
    <!-- Container -->
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <!-- Logo section -->
          <div class="logo">
            <h1><a href="/"><img src="/assets/logo.png" width="120"></a></h1>
            <h4 id="sub-logo">Office Hours</h4>
          </div>
        </div>
        <div class="col-md-9">
        
          <!-- Navigation starts.  -->
          <div class="navy">      
            <ul>
              <!-- Main menu -->
              <li><a href="#">Home</a>
                <!-- Submenu -->
                <ul>
                  <li><a href="sitemap.html" class="red">Complete List</a></li>
                  <li><a href="index.html">Main Home</a></li>
                  <li><a href="index-bootstrap-carousel.html">Home Carousel</a></li>
                  <li><a href="index-magazine.html">Home Magazine</a></li>
                  <!-- 2nd Level sub menu -->
                  <li>
                    <a href="#">More #1</a>
                    <ul>
                      <li><a href="blog-masonry.html">Masonry Style</a></li>
                      <li><a href="medical-index.html">Medical</a></li>
                      <li><a href="ecommerce-index.html">Ecommerce</a></li>
                      <li><a href="non-profit-index.html">Non Profit</a></li>
                      <li><a href="coming-soon-image.html">Coming Soon</a></li>
                      <li><a href="index-slim.html">Home Slim</a></li>
                      <li><a href="index-sidebar.html">Home Sidebar</a></li>
                      <li><a href="index-parallax-slider.html">Home Parallax Slider</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">More #2</a>
                    <ul>
                      <li><a href="real-estate-index.html">Real Estate</a></li>
                      <li><a href="restaurant-index.html">Restaurant</a></li>
                      <li><a href="resume.html">Resume</a></li>
                      <li><a href="v-card-image.html">V Card</a></li>
                      <li><a href="wedding.html">Wedding</a></li>
                      <li><a href="index-parallax.html">Parallax Home</a></li>
                      <li><a href="header-2.html">Header Alt</a></li>
                      <li><a href="index-portfolio.html">Home Portfolio</a></li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li><a href="about-us-one.html">About Us</a></li>
              <li><a href="contact-us-one.html">Contact Us</a></li>
            </ul>
          </div>              
          <!-- Navigation ends -->
          
        </div>
        
        <div class="col-md-1">
          
          <!-- Search section -->
          <div class="head-search pull-right">
            <a href="#" class="b-dropdown"><i class="fa fa-search square-2 rounded-1 bg-color white"></i></a>
            <div class="b-dropdown-block">
              <form role="form">
                <!-- Input Group -->
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Type Something">
                  <span class="input-group-btn">
                    <button class="btn btn-color" type="button">Search</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <!-- Search section ends -->
          <div class="clearfix"></div>
          
        </div>
        
      </div>
    </div>
  </div>

  <!-- Header two ends -->

<%= yield %>

</body>
</html>
